.navbar {
    background-color: rgb(180, 234, 250);
}

.btn {
    background-color: rgb(247, 247, 247);
}

.content {
    padding: 60px 2.5vw;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
}

.card{
    display: flex;
    align-items: center;
}

.imgsp{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 260px;
    max-width: 240px;
}

.card img{
    margin: 20px;
}