.navbar {
    background-color: rgb(180, 234, 250);
}

.content {
    padding: 60px 2.5vw;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
}

.card{
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.order-tittle{
    color: rgb(52, 52, 255);
    padding: 10px;
}

.imgsp{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 260px;
    max-width: 240px;
}

.card img{
    margin: 20px;
}

.total-tittle{
    color: brown;
}

.card-order{
    box-shadow: none;
    border: none;
    margin-left: 100px;
}